* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.list-header {
  background-color: white;
  position: fixed;
  width: 100%;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list {
  max-height: calc(100vh - 60px);
  overflow-y: scroll;
  position: absolute;
  top: 9%;
  width: 100%;
  z-index: -1;
}

ul {
  list-style-type: none;
  width: 70%;
  margin: 0 auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2), -4px 2px 4px rgba(0, 0, 0, 0.2) ;
}

ul li {
  padding: 15px 0px 15px 25px;
  background-color: white;
  border-bottom: 1px solid lightgray
}

ul li:hover {
  cursor: pointer;
  background-color: rgb(162, 180, 190);
}

ul li .list-holder {
  display: flex;
  text-align: center;
}

ul li img {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li p {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  padding-left: 15px;
}



@media only screen and (max-width: 1030px) {
  ul {
    width: 100%;
  }
}

